@page "/Account/Lockout"

<PageTitle>Заблокирован</PageTitle>

<header>
    <h1 class="text-danger">Заблокировано</h1>
    <p class="text-danger" role="alert">Эта учетная запись заблокирована, пожалуйста, попробуйте позже.</p>
</header>
