@page "/Account/LoginWith2fa"

@using System.ComponentModel.DataAnnotations
@using DataContext.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWith2fa> Logger

<PageTitle>Двухфакторная аутентификация</PageTitle>

<h1>Двухфакторная аутентификация</h1>
<hr />
<StatusMessage Message="@message" />
<p>Ваш вход в систему защищен приложением-аутентификатором. Введите свой код аутентификатора ниже.</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="RememberMe" value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.TwoFactorCode" id="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label for="Input.TwoFactorCode" class="form-label">Код аутентификатора</label>
                <ValidationMessage For="() => Input.TwoFactorCode" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label for="remember-machine" class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMachine" />
                    Запомните эту машину
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Авторизоваться</button>
            </div>
        </EditForm>
    </div>
</div>
<p>
    Нет доступа к вашему устройству аутентификации? Вы можете войти в систему, используя код восстановления.
    <a href="Account/LoginWithRecoveryCode?ReturnUrl=@ReturnUrl">вход с помощью кода восстановления</a>.
</p>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        // Убедитесь, что пользователь сначала прошел этап ввода имени пользователя и пароля.
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("Не удалось загрузить пользователя для двухфакторной аутентификации.");
    }

    private async Task OnValidSubmitAsync()
    {
        var authenticatorCode = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        var result = await SignInManager.TwoFactorAuthenticatorSignInAsync(authenticatorCode, RememberMe, Input.RememberMachine);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Пользователь с ID '{UserId}' вошел в систему с двухфакторной аутентификацией.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Учетная запись пользователя с ID '{UserId}' заблокирована.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Для пользователя с ID '{UserId}' введен неверный код аутентификатора.", userId);
            message = "Ошибка: Неверный код аутентификации.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(7, ErrorMessage = "Символ {0} должен быть не менее {2} и не более {1} символов в длину.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Код аутентификатора")]
        public string? TwoFactorCode { get; set; }

        [Display(Name = "Запомните эту машину")]
        public bool RememberMachine { get; set; }
    }
}
