@page "/Account/ResetPasswordConfirmation"

<PageTitle>Сброс пароля</PageTitle>

<h1>Сброс пароля</h1>
<p role="alert">
    Ваш пароль сброшен. Пожалуйста, <a href="Account/Login">нажмите здесь, чтобы войти</a>.
</p>
