@page "/Cloud"
@using BlazorApp.Client.Components.Cloud
@using BlazorApp.Client.Models.Cloud
@using BlazorApp.Client.Services.Cloud
@attribute [Authorize]
@implements IAsyncDisposable
@rendermode pageRenderMode

<PageTitle>Диск</PageTitle>

<div class="row">
    <div class="col">
        <h3>Диск</h3>
    </div>
    <div class="col-auto">
        <InteractiveInfoPanel InteractiveInfo="InteractiveInfo" />
    </div>
</div>

@if (InteractiveInfo.IsWaitingInteractive == false)
{
    @if (string.IsNullOrEmpty(ErrorMessage) == false)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ErrorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть" @onclick="() => ErrorMessage = null"></button>
        </div>
    }
    <div class="row">
        <div class="col-lg-5">
            <CloudPanel SelectedCloud="SelectedCloud" OnCloudSelected="SelectedCloudOpened" OnErrorMessage="(mes) => ErrorMessage = mes" />
        </div>
        <div class="col-lg-7">
            <CloudItemPanel Cloud="SelectedCloud" OnCloseCloud="ClearSelectedCloudOpened" OnUploadCloudModel="StateHasChanged" OnErrorMessage="(mes) => ErrorMessage = mes" />
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}


@code {
    private static IComponentRenderMode pageRenderMode = RenderMode.InteractiveServer;

    private CancellationTokenSource _pageLifetimeCts = new();
    // Токен, который срабатывает при закрытии/уничтожении страницы
    public CancellationToken PageLifetimeToken => _pageLifetimeCts.Token;

    private InteractiveInfoService InteractiveInfo { get; set; }

    private CloudModel? SelectedCloud { get; set; }
    private string? ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        InteractiveInfo ??= new InteractiveInfoService(RendererInfo, AssignedRenderMode);
        await base.OnInitializedAsync();
    }

    private void SetSelectedCloud(CloudModel? model)
    {
        SelectedCloud = model;
    }

    private void SelectedCloudOpened(CloudModel model) => SetSelectedCloud(model);
    private void ClearSelectedCloudOpened() => SetSelectedCloud(null);

    // Флаг для отслеживания состояния
    private bool _isDisposed;
    // Освобождение ресурсов при уничтожении компонента
    public async ValueTask DisposeAsync()
    {
        if (_isDisposed) return;

        _isDisposed = true;

        // Отменяем все операции
        _pageLifetimeCts?.Cancel();
        // Освобождаем ресурсы
        _pageLifetimeCts?.Dispose();
    }
}
