@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main role="main" class="flex-shrink-0">
    <div class="container">
        @Body
    </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="text-body-secondary">
            <font dir="auto" style="vertical-align: inherit;">
                <font dir="auto" style="vertical-align: inherit;">
                    v 0.5
                </font>
            </font>
        </span>
    </div>
</footer>

<div id="blazor-error-ui" data-nosnippet>
    Произошла необработанная ошибка.
    <a href="." class="reload">Перезагрузить</a>
    <span class="dismiss">🗙</span>
</div>
