@using BlazorApp.Client.Models.Cloud
@using BlazorApp.Client.Services.Cloud
@using System.Threading.Tasks


<CreateCloudModalDialog NameModal="CreateCloudModal" OnCreate="CreateCloud" />
<EditCloudModalDialog NameModal="EditCloudModal" CloudId="SelectedCloudEdit" OnEdit="EditCloud" OnClose="ClearSelectedCloudEditor" OnDelete="DeleteCloud" />

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger" role="alert">
        @Message
    </div>
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-auto d-flex align-items-center">
                <h5 class="card-title" style="margin:0;">
                    Список дисков
                </h5>
            </div>
            <div class="col"></div>
            <div class="col-auto d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateCloudModal">
                    Создать диск
                </button>
            </div>
            <div class="col-auto d-flex align-items-center">
                <button type="button" class="btn btn-primary" @onclick="LoadMainPageAsync">
                    Обновить
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">

        @if (isLoading)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
            </div>
        }
        else
        {
            @if (Clouds?.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Icons</th>
                                <th scope="col">SystemName</th>
                                <th scope="col">DisplayName</th>
                                <th scope="col">Description</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (CloudModel item in Clouds)
                            {
                                <tr @ondblclick="async () => await SelectedCloudOpened(item)">
                                    <th scope="row">@item.Id</th>
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud" viewBox="0 0 16 16">
                                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                        </svg>
                                    </td>
                                    <td>@item.SystemName</td>
                                    <td>@item.DisplayName</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary"
                                                data-bs-toggle="modal" data-bs-target="#EditCloudModal"
                                                @onclick="() => SelectedCloudEditor(item)">
                                            Редактировать
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Нет дисков</p>
            }
        }
    </div>
    <div class="card-footer">
        @SelectedCloud?.DisplayName
    </div>
</div>

@code {
    private InteractiveInfoService InteractiveInfo { get; set; }

    [Inject] private ICloudNavigator _cloudNavigator { get; set; }

    [Parameter] public EventCallback<CloudModel?> OnCloudSelected { get; set; }

    private bool isLoading { get; set; } = false;
    private string Message { get; set; } = string.Empty;

    private IEnumerable<CloudModel>? Clouds { get; set; }

    private CloudModel? SelectedCloudEdit { get; set; }
    [Parameter] public CloudModel? SelectedCloud { get; set; }

    private CancellationTokenSource _pageLifetimeCts = new();
    public CancellationToken PageLifetimeToken => _pageLifetimeCts.Token;

    protected override async Task OnInitializedAsync()
    {
        InteractiveInfo = new InteractiveInfoService(RendererInfo, AssignedRenderMode);
        if (InteractiveInfo.IsWaitingInteractive == false)
        {
            await LoadMainPageAsync();
        }
        await base.OnInitializedAsync();
    }

    private async Task LoadMainPageAsync()
    {
        isLoading = true;
        StateHasChanged();
        var result = await _cloudNavigator.GetMainPageAsync(PageLifetimeToken);
        if (result.Success)
            Clouds = result.Value;
        else
            Message = result.ErrorMessage;
        isLoading = false;
        StateHasChanged();
    }

    private async Task CreateCloud(CreateCloudModel model)
    {
        isLoading = true;
        StateHasChanged();
        var createResult = await _cloudNavigator.CreateCloudAsync(model, PageLifetimeToken);
        if (createResult.Success)
        {
            var result = await _cloudNavigator.GetMainPageAsync(PageLifetimeToken);
            if (result.Success)
                Clouds = result.Value;
            else
                Message = result.ErrorMessage;
        }
        else
        {
            Message = createResult.ErrorMessage;
        }
        isLoading = false;
        StateHasChanged();
    }

    private void SetCloudEditor(CloudModel? model)
    {
        SelectedCloudEdit = model;
    }
    private void SelectedCloudEditor(CloudModel model) => SetCloudEditor(model);
    private void ClearSelectedCloudEditor() => SetCloudEditor(null);

    private async Task SetCloudOpened(CloudModel? model)
    {
        SelectedCloud = model;
        await OnCloudSelected.InvokeAsync(SelectedCloud);
    }
    private async Task SelectedCloudOpened(CloudModel model) => await SetCloudOpened(model);
    private async Task ClearSelectedCloudOpened() => await SetCloudOpened(null);
    

    private async Task EditCloud(EditCloudModel model)
    {
        isLoading = true;
        StateHasChanged();
        var editResult = await _cloudNavigator.UpdateCloudAsync(model, PageLifetimeToken);
        if (editResult.Success)
        {
            var result = await _cloudNavigator.GetMainPageAsync(PageLifetimeToken);
            if (result.Success)
                Clouds = result.Value;
            else
                Message = result.ErrorMessage;
        }
        else
        {
            Message = editResult.ErrorMessage;
        }
        SelectedCloudEdit = null;
        isLoading = false;
        StateHasChanged();
    }
    private async Task DeleteCloud(EditCloudModel model)
    {
        isLoading = true;
        StateHasChanged();
        var deleteResult = await _cloudNavigator.DeleteCloudAsync(model.Id, PageLifetimeToken);
        if (deleteResult.Success)
        {
            var result = await _cloudNavigator.GetMainPageAsync(PageLifetimeToken);
            if (result.Success)
                Clouds = result.Value;
            else
                Message = result.ErrorMessage;
        }
        else
        {
            Message = deleteResult.ErrorMessage;
        }
        SelectedCloudEdit = null;
        isLoading = false;
        StateHasChanged();
    }
}
