@page "/Account/Manage/Disable2fa"

@using DataContext.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Отключить двухфакторную аутентификацию (2FA)</PageTitle>

<StatusMessage />
<h3>Отключить двухфакторную аутентификацию (2FA)</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Это действие только отключает двухфакторную аутентификацию.</strong>
    </p>
    <p>
        Отключение двухфакторной аутентификации не изменяет ключи, используемые в приложениях-аутентификаторах. Если вы хотите изменить ключ,
        используемый в приложении-аутентификаторе, вам следует <a href="Account/Manage/ResetAuthenticator">сбросить ключи аутентификатора.</a>
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Отключить двухфакторную аутентификацию</button>
    </form>
</div>

@code {
    private ApplicationUser? user;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Отключить двухфакторную аутентификацию для пользователя невозможно, так как она в данный момент не включена.");
        }
    }

    private async Task OnSubmitAsync()
    {
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Произошла непредвиденная ошибка при отключении двухфакторной аутентификации.");
        }

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Пользователь с ID '{UserId}' отключил двухфакторную аутентификацию.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "Двухфакторная аутентификация отключена. Вы можете повторно включить двухфакторную аутентификацию при настройке приложения-аутентификатора.",
            HttpContext);
    }
}
