@page "/Account/Manage/ResetAuthenticator"

@using DataContext.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Сбросить ключ аутентификатора</PageTitle>

<StatusMessage />
<h3>Сбросить ключ аутентификатора</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Если вы сбросите ключ аутентификатора, ваше приложение-аутентификатор не будет работать, пока вы его не перенастроите.</strong>
    </p>
    <p>
        Этот процесс отключает двухфакторную аутентификацию до тех пор, пока вы не подтвердите свою учетную запись в приложении-аутентификаторе.
        Если вы не завершите настройку приложения-аутентификатора, вы можете потерять доступ к своей учетной записи.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Сбросить ключ аутентификатора</button>
    </form>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("Пользователь с ID '{UserId}' сбросил свой ключ аутентификации приложения.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "Ключ вашего приложения-аутентификатора был сброшен, вам потребуется настроить приложение-аутентификатор, используя новый ключ.",
            HttpContext);
    }
}
